*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .calender{
    background-color: black;
    color: lightgray; 
    width: 450px;
    height: 520px;
    border: 2px solid pink;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);  
 }
 .month{
    width: 100%;
    height: 120px;
    background-color: rgb(26, 22, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.month h1{
    font-size: 30px;
     font-weight:400 ;
     text-transform: uppercase;
}
.month p{
    font-size: 16px;
}
.weekdays{
    width: 100%;
    height: 50px;
    display: flex;
}
  .weekdays div{
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}
.days div{
    font-size: 14px;
    margin: 2px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .days div:hover:not(.empty){
    border: 2px solid red;
    cursor: pointer;
 }
 .today{
    background-color: rgb(201, 245, 3);
    color: black;
 }
 .sunday{
    background-color:red;
    color:black;
 }